<header class="app-bar promote-layer">
  <div class="app-bar-container">
    <button class="menu" {{action 'toggleMenu'}}><img src="images/hamburger.svg" alt="Menu"></button>
    <h1 class="logo">Ember.js <strong>Redditvid</strong></h1>
    <section class="app-bar-actions">
    <!-- Put App Bar Buttons Here -->
    <!-- e.g <button><i class="icon icon-star"></i></button> -->
    </section>
  </div>
</header>

<nav class="navdrawer-container promote-layer">
  <h4>Navigation</h4>
  <ul>
{{!-- 	<li>{{#link-to 'index'}}  Index {{/link-to}}</li>
	<li>{{#link-to 'about'}}  About {{/link-to}}</li> --}}
  <li><a href="#" {{action 'videos'}}> Videos</a></li>
  {{#if user.isLoggedIn}}
    <li><a href="#" {{action 'login'}}> Logout</a></li>
  {{else}}
    <li><a href="#" {{action 'login'}}> Login</a></li>
  {{/if}}
  <li><a href="#" {{action 'about'}}> About</a></li>  
  </ul>
</nav>

<main>
	{{liquid-outlet}}
</main>
<div class="copywrite">
  Adam Smith &copy;
</div>