<div class="login">
	<h2>Login</h2>
	<div class="text">
	<p>
		{{#if isLoggedIn}}
			<b>Your Name:</b> {{name}}<b>, Over 18:</b> {{over_18}} <br>
			<span class="warn">Warning:</span> refreshing the page will log you out. <br>
		{{else}}
			You are <b>not</b> logged in, please select login to continue. <br>
			<span class="warn">Warning:</span> you will be temporarily redirected to reddits login page. <br>
		{{/if}}
	</p>
	{{#if isLoggedIn}}
		<button {{action "logout"}}>logout</button>
	{{else}}
		<button {{action "login"}}>login</button>
	{{/if}}
</div>