<div>
	<button {{action "refreshData"}}>refresh</button>
	{{#each itemController="video-list-item"}}
		<div class="video">
			<div class="top">
				<span class="arrow up" {{action "voteUp" on="click"}}></span><span class="score">{{score}}</span><span class="vid_link">{{#linkTo 'video' this}} {{title}} {{/linkTo}}</span>
			</div>
			<div class="bottom">
				<span class="arrow down" {{action "voteDown" on="click"}}></span><span class="author">Posted by <i>{{author}} {{postedAgo}}</i></span>
			</div>
		</div>
	{{/each}}
</div>