<div>
	<div class="control-pannel">
		<div class="button-container">
			<h2>Videos</h2>
			{{#if user.isLoggedIn}}
				<div class="name">
					You are logged in as: <b>{{user.name}}</b>
				</div>
			{{else}}
				<div class="name">
					You are <b>not</b> logged in
				</div>
			{{/if}}
			<button {{action "refreshData"}}>refresh</button>
		</div>
	</div>
	{{#each itemController="video-list-item"}}
		<div class="video-list-item" {{bind-attr data-id=id}} >
			<div class="arrow-container">
				<div {{bind-attr class=":arrow :up upClass"}} {{action "voteUp" on="click"}}></div>
				<div {{bind-attr class=":arrow :down downClass"}} {{action "voteDown" on="click"}}></div>
			</div>
			<div class="text-container">
				<div class="top">
					<span class="score">{{score}}</span>
					{{#if media_embed}}
						<span class="vid_link">{{#linkTo 'video' this.id}} {{title}} {{/linkTo}}</span>
					{{else}}
						<span class="vid_link"><a href="{{unbound url}}">{{title}}</a></span>
					{{/if}}
				</div>
				<div class="bottom">
					{{!-- <span class="author">Posted by <i>{{author}} {{postedAgo}}</i></span> --}}
					<span class="author">Posted by <i>{{author}} {{posted-ago created_utc}}</i></span>
				</div>
			</div>
		</div>
	{{/each}}
</div>