<div class="video">
	<div class="title"><h3>{{title}}</h3></div>
	<div>
		{{safe-string media_embed}}
	</div>
	{{textarea value=text cols="83" rows="6"}}
	<div class="commnet-bar">
		<button {{action "showComments"}}>show comments</button>
		<button {{action "postComment"}}>post comment</button>	
	</div>
	{{outlet "comments"}}
</div>