<div class="video">
	<div class="info">
		<div class="title"><h3>{{title}}</h3></div>
		<div class="youtube-vid">
			{{safe-string media_embed}}
		</div>
		{{textarea value=text}} 
		<div class="commnet-bar">
			<button class="show-comments"{{action "showComments"}}>{{commentsBtnText}}</button>
			<button {{action "postComment"}}>post comment</button>	
		</div>
	</div>
	{{outlet "comments"}}
</div>